<form id="signup" action="">

    <fieldset>
        <legend>Project aksdfasdf</legend>

        <p>
            <label for=""></label>
            <input type="text"/>
        </p>
        <p>
            <label for=""></label>
            <input type="text"/>
        </p>

    </fieldset>

    #signup fieldset legend {

        border

        &:before {
            content: "1";
            positiong: absolute;
        }

    }
    #signup fieldset:nth-of-type(2) legend:before { content: "2"; }

    header,
    section,
    footer {

        width: 100%; max-width: 1000px; margin: 0 auto;
        padding: 20px;
    }

    nav {
        ......

        li {
            ........
            media quiery ( min-width ) { fot:left; }

            a  { asdf }

        }

    }






</form>








<!-- Mid Content -->
<section class="cta2">

    <!-- Video Player -->
    <div class="row">

        <h1 class="large-8 large-centered columns text-center">
            <iframe class="video" src="//player.vimeo.com/video/84874728?color=3598DB" width="560" height="329" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </h1>

    </div>

    <!-- Message -->
    <div class="row message">

        <h3 class="large-12 columns text-center">Crafting ideas and finding the right team to make it happen has never been easier</h3>

    </div>

    <!-- 4 Steps -->
    <div class="row step">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-12 columns panel nb clear-background">
                    <img class="left" src="assets/img/signup.png" alt="sign up" />
                    <h4>Sign Up!</h4>
                    <p>It&rsquo;s 100% free.</p>
                    <p>This is your first step to make your ideas happen!</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row step">
        <div class="large-10 columns right panel clear-background">

                    <img class="left" src="assets/img/idea.png" alt="Post idea">
                    <h4>Post Your Project Idea</h4>
                    <p>Whether it&rsquo;s an online game concept, a mobile app,</p>
                    <p>or a new web application, this is your place to start.</p>

        </div>
    </div>
    <div class="row step">

        <div class="large-8 columns right">
            <div class="row">
                <div class="large-12 columns panel nb clear-background">
                    <img class="left" src="assets/img/team.png" alt="Build team">
                    <h4>Build the Dream Team</h4>
                    <p>People interested in similar ideas can help</p>
                    <p>each other start amazing projects together.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row step">
        <div class="large-6 columns right">
            <div class="row">
                <div class="large-12 columns panel nb clear-background">
                    <img class="left" src="assets/img/launch.png" alt="Launch project">
                    <h4>Launch the Project</h4>
                    <p>It&rsquo;s exciting to see your idea executed</p>
                    <p>by skilled people. We&rsquo;ll showcase them!</p>
                </div>
            </div>
        </div>
    </div>
</section>